echo .DS_Store >> .gitignore
.ipynb_checkpoints
*/.ipynb_checkpoints/*
macd-SEAL/macd
macd-SEAL/CMakeFiles
macd-SEAL/cmake_install.cmake
macd-SEAL/CMakeCache.txt
macd-SEAL/Makefile
macd-HEAAN/run/macd