.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.vscode
FinancialApplications/macd-HEAAN/MACD
FinancialApplications/macd-SEAL/macd
FinancialApplications/macd-SEAL/CMakeFiles
FinancialApplications/macd-SEAL/cmake_install.cmake
FinancialApplications/macd-SEAL/CMakeCache.txt
FinancialApplications/macd-SEAL/Makefile
HEAAN/lib/libHEAAN.a
GeneralToolbox/EMA-HEAAN/EMA
GeneralToolbox/ARMA-HEAAN/ARMA
GeneralToolbox/ARMA-HEAAN/a.out
HEAAN/lib/src/*
!HEAAN/lib/src/subdir.mk
MedicalApplications/pid-SEAL/pid
MedicalApplications/pid-SEAL/pid-test-serialize
MedicalApplications/pid-SEAL/CMakeFiles
MedicalApplications/pid-SEAL/cmake_install.cmake
MedicalApplications/pid-SEAL/CMakeCache.txt
MedicalApplications/pid-SEAL/Makefile
MedicalApplications/protobuf/CMakeFiles
MedicalApplications/protobuf/com
MedicalApplications/socket_test/*.o
MedicalApplications/socket_test/client
MedicalApplications/socket_test/server
*.out
*.o
pid
pid-serialize-test
MedicalApplications/socket_test/CMakeFiles
MedicalApplications/socket_test/cmake_install.cmake
MedicalApplications/socket_test/CMakeCache.txt
MedicalApplications/socket_test/Makefile
CMakeFiles*
cmake_install.cmake*
CMakeCache.txt*
MedicalApplications/pid-SEAL/LocalPID/Makefile
FinancialApplications/sinc-test/SINC